* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial;
    background-color: rgb(146 135 135);
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    font-family: Arial;
   margin-top: -10px;
   margin-left: 26px;
}

.navbar ul{
    list-style-type: none;
}

.navbar ul li{
    display: inline-block;
}

.navbar li {
    font-size: 18px;
    display: block;
    padding:0px 35px;
    font-family: Arial;
    margin-top: 0px;
}
.navbar ul li a{
   text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
  color: rgb(244, 241, 64);
}
.submenu{
    display: none;

}
.submenu ul {
    display: block;
    margin: 10px;
}

.navbar ul li:hover .submenu{
    display: block;
    position: absolute;
    background-color:black;
    margin-top: 8px;
    /* margin-left: -15px; */
    margin-left: -34px;
}

.navbar ul li:hover .submenu ul li{
    border-bottom: 1px dotted #fff;
    display: block;
    margin: 10px;
    /* width: 150px; */
    width: 120px;
    /* padding: 10px; */
    padding: 5px;
    border-radius: 0;
    text-align: left;
    margin-left: -24px;
 }
.navbar ul li:hover .submenu ul li:last-child{
    border-bottom: none;
}
.navbar ul .fa-solid{
   padding: 6px;
   font-size: x-large;

}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

.list{
    margin-top: 75px;
    font-size:25px;
    margin-left: 20px;
    margin-right:20px;
    color:rgb(101, 11, 11);
}
.footer {
    padding: 40px 0;
    background-color: black;
    margin-top: 450px;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .social {
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
/* pre{
    align-items:center;
    margin-left: 0px;
} */

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 5px;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: Arial;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-left: 0px;
    font-family: Arial;
}